<nav class="navbar navbar-inverse navbar-static-top">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/sneakers/about/home">Cool-Kicks<%# <img alt="Brand" src="...">%>
    </a></li>
    <li><a href="/sneakers/about/0">About</a></li>
    <li><a href="/sneakers/about/picks">Top Picks</a></li>
    <li><a href="/user/login">Log In</a></li>
  </ul>
</nav>
